{% extends 'base.html.twig' %}

{% block title %}{{ 'title.phone.search' | trans }}{% endblock %}

{% block body %}
    <div>
        <div class="container-fluid">
            {# {{ include('phone/_formSearchForm.html.twig') }} #}
            <div data-reload-content-target="content">
                {{ include('phone/_list.html.twig') }}
            </div>
            {# <div class="float-right mb-1">
                <a class="btn btn-primary rounded-circle fixed-bottom-right" data-action="modal-form#openModal">
                    <i class="fas fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i>
                </a>
            </div> #}
        </div>
    </div>
{% endblock %}