@import '~bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    padding: 0.1em 0.1em 0.1em 0.1em;
    line-height: 1;
    margin-bottom: 2.5rem;
}

header {
    display: grid;
    grid-template-columns: 150px auto 200px 100px;
    grid-template-areas: "logo titulo erabiltzailea idioma";
    justify-content: space-beetween;
    text-align: center;
    align-items: center;
}

.logo {
    height: 100px;
    width: auto;
}

.titulua {
    display: flex;
    text-align: center;
}

.avatar {
    float: right;
    height: 3rem;
    border-radius: 3rem;
}

.fixed-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.pointer:hover {
    cursor: pointer;
  }

.multi-column-list {
    column-count: 9;
    column-gap: 1.5rem; /* espacio entre columnas */
    column-rule: 1px solid #ccc; /* ← esto agrega una línea entre columnas */
}

.multi-column-list li {
    break-inside: avoid;
    margin-bottom: 0.5rem;
}