{% extends 'base.html.twig' %}

{% block title %}{{ 'title.netmap.search' | trans }}{% endblock %}

{% block body %}
    <div>
        <div class="container-fluid">
            <div class="mt-4">
                <div data-reload-content-target="content">
                    {{ include('netmap/_list.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}